body {
  font-size: 16px;
}
#app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 60rem 0;
}
select {
  font-size: inherit;
}
option {
}

.e-select {
  font-family: system-ui;
  border: 1px solid #999;
  padding: 0.25em 0.5em;
  line-height: 0.9em;
  border-radius: 4px;
  cursor: default;
}
.e-options {
}
.wrapper {
  position: relative;
}
.e-options {
  font-family: system-ui;
  position: absolute;
  left: 0;
  background: white;
  border: 1px solid #999;
  white-space: nowrap;
  border-radius: 4px;
  top: 100%;
}
.e-options.positionTop{
  top: auto;
  bottom: 100%;  
}
.e-option {
  line-height: 1.5em;
  padding: 0 0.5em;
  cursor: default;
}
.e-option:hover {
  background: #eee;
}

.selected {
  background: #ddd;
}
