<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="app">
      <select>
        <option>Option 01</option>
        <option>Option 02</option>
        <option>Option 03</option>
        <option>Option 04</option>
        <option>Option 05</option>
      </select>

      <div class="wrapper">
        <div
          class="e-select"
          @mousedown="open = true"
          @blur="onBlur"
          @focus="onFocus"
          tabindex="0"
          ref="select"
        >
          <div class="e-select__label">
            {{value}}
          </div>
          <div class="e-options" v-if="open" ref="options" :class="{positionTop: !positionBottom}">
            <e-option
              v-for="(option, idx) in options"
              :key="idx"
              @select="onSelect"
              :selected="selected"
              :option="option"
            ></e-option>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
